nav{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.lalu{
    display: flex;
    justify-content: space-around;

    
}
nav .nav-pic{
    display: flex;
    gap:1rem;
    color: #131318;
    font-family: Mulish;
    font-size: 2.3rem;
    font-weight: 800;
    padding-right: 15rem;
}
/* shared styles*/
span{
    color: #FF5400;
}
nav img{
    margin-top: 3.2rem;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin-top: 4.5rem;
    color:  #424247;
text-align: center;
font-family: Mulish;
font-size: 1.2rem;
font-weight: 400;
}
.banner-container{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 73.125rem;
height: 31.25rem;
border-radius: 1rem;
margin: 1.4rem auto;
text-align: center;
}
.banner-container .banner-tittle{
    padding-top:  4rem;
}
.banner-container .banner-tittle h1{
    color: #FFF;
font-family: Mulish;
font-size: 4rem;

font-weight: 800;

}
.banner-container .banner-tittle p{
    color: #FFF;

font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 400;
width: 40rem;
height: 3rem;
padding-left: 15.4rem;

}
.banner-container form input{
    width:10.8rem;
height: 3.25rem;
border-radius: .5rem;
background: #FFF;
border: none;
margin-right: 2rem;
margin-top: 4rem;
padding-left: 1rem;
}
.banner-container form button{
width: 10.8rem;
height: 3.25rem;
border-radius: .5rem;
background: #FF5400;
border: none;
color: #FFF;
}
   
